.orders {
    &__date {
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        color: #000;
        margin-bottom: 17px;
    }

    &__order {
        border-radius: 30px;
        background: #fff;
        margin-bottom: 20px;
        padding: 22px 37px 17px 20px;

        display: flex;
        justify-content: space-between;
        gap: 40px;
    }

    &__order-item {
        display: flex;
        align-items: center;
        gap: 17px;
        margin-bottom: 25px;
    }

    &__order-img img {
        width: 86px;
        height: 86px;
    }

    &__order-title {
        font-style: italic;
        font-weight: 400;
        font-size: 18px;
        color: #000;
        margin-bottom: 10px;
    }

    &__order-price {
        display: flex;
        align-items: center;
        gap: 7px;
    }

    &__order-new-price {
        font-weight: 400;
        font-size: 24px;
        color: #010101;
    }

    &__order-old-price {
        font-weight: 400;
        font-size: 18px;
        color: #a3a3a3;
    }

    &__orders-btn {
        cursor: pointer;
        max-width: 120px;
        display: block;
        border: 1px solid #000;
        border-radius: 5px;
        background: #fff;
        color: #000;
        padding: 9px 45px;
        margin: 0px auto;
        text-align: center;

        &:hover {
            background-color: #000;
            color: #ffffff;
        }
    }

    &__order-btn-text {
        white-space: nowrap;
        font-weight: 600;
        font-size: 12px;
    }

    &__price {
        border-bottom: 1px solid #d9d9d9;
        padding-bottom: 13px;
        margin-bottom: 50px;
    }

    &__order-info {
        max-width: 360px;
    }

    &__price-title {
        font-weight: 500;
        font-size: 16px;
        color: #000;
        margin-bottom: 11px;
    }

    &__price-value {
        font-weight: 500;
        font-size: 18px;
        color: #000;
    }

    &__status-title {
        font-weight: 500;
        font-size: 13px;
        color: #000;
        margin-bottom: 8px;
    }

    &__status-value {
        font-weight: 600;
        font-size: 12px;
        color: #fff;
        padding: 7px 24px;
        width: fit-content !important;

        border-radius: 5px;
        background: #5dbf39;
        margin-bottom: 10px;
    }

    &__empty {
        font-size: 18px;
        color: #868686;
        margin: 40px 0;
    }

    &__address-title,
    &__date-title {
        font-weight: 500;
        font-size: 13px;
        color: #000;
        margin-bottom: 4px;
    }

    &__address-value,
    &__date-value {
        font-size: 13px;
        color: #363636;
        margin-bottom: 10px;
    }

    &__order-quantity {
        font-size: 16px;
        color: #868686;
    }
}

/* ============================================================================== */

@media (max-width: 1250px) {
    .orders {
        &__order {
            flex-direction: column;
        }

        &__price {
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 528px) {
    .orders {
        &__order {
            gap: 10px;
        }

        &__order-title {
            font-size: 16px;
            text-align: center;
        }

        &__order-price {
            justify-content: center;
        }

        &__order-item {
            flex-direction: column;
        }

        &__order-new-price {
            font-size: 20px;
        }

        &__order-item {
            margin-bottom: 15px;
        }

        &__title {
            margin-bottom: 20px;
        }

        &__content {
            gap: 40px;
        }
    }
}
