.user {
    &__title {
        font-style: italic;
        font-weight: 400;
        font-size: 30px;
        color: #000;
        margin-bottom: 29px;
    }

    &__item {
        margin-bottom: 27px;
    }

    &__item-title {
        font-style: italic;
        font-weight: 400;
        font-size: 18px;
        color: #000;
        margin-bottom: 16px;
    }

    &__input-wrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 12px;
    }

    &__label {
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
        color: #a4a4a4;
        margin-bottom: 7px;
    }

    &__input {
        border: 1px solid #c7c7c7;
        background: #fff5f5;
        color: black;
        padding: 11px 7px;

        &::placeholder {
            font-style: italic;
            font-weight: 400;
            font-size: 14px;
            color: #a4a4a4;
        }

        &:hover {
            border: 1px solid #747474;
        }

        &:focus {
            border: 1px solid #000000;
        }
    }

    &__radiobtns {
        display: flex;
        align-items: center;
        gap: 38px;
    }

    &__radio-btn-wrapper {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    &__radio-btn-text {
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
        color: #a4a4a4;
    }

    &__button {
        min-width: 100%;
        background: #ff9e7b;
        padding: 12px 0px;
        text-align: center;

        font-weight: 600;
        font-size: 13px;
        color: #fff;

        &:hover {
            background: #ff8052;
        }

        &:active {
            background: #ff5517;
        }
    }

    &__settings {
        display: flex;
        justify-content: space-between;

        gap: 50px;
    }

    &__addresses-title {
        font-style: italic;
        font-weight: 400;
        font-size: 25px;
        color: #000;
        margin-bottom: 29px;
    }

    &__addresses-address {
        display: flex;
        gap: 20px;
        margin-bottom: 20px;
    }

    &__address-address-wrapper {
        display: flex;
        gap: 20px;
    }

    &__addresses-address-input-wrapper {
        margin-top: 4px;
    }

    &__addresses-address-name {
        font-size: 18px;
        margin-bottom: 5px;
    }

    &__addresses-address-delivery {
        font-size: 14px;
    }

    &__addresses-address-bin {
        cursor: pointer;
        margin-top: 7px;

        & img {
            min-width: 15px;
            max-width: 15px;
        }
    }

    &__addresses-add-address {
        cursor: pointer;
        border: 1px solid black;
        padding: 7px;
        text-align: center;
        border-radius: 10px;
        transition: 0.1s all linear;

        &:hover {
            border-color: #ff9e7b;
            background-color: #ff9e7b;
            color: white;
        }
    }

    &__addresses-add-address-input {
        border: 1px solid #c7c7c7;
        background: #fff5f5;
        color: black;
        padding: 6px 4px;
        border-radius: 5px;
        width: 100%;
        margin-bottom: 10px;

        &::placeholder {
            font-style: italic;
            font-weight: 400;
            font-size: 14px;
            color: #a4a4a4;
        }

        &:hover {
            border: 1px solid #747474;
        }

        &:focus {
            border: 1px solid #000000;
        }
    }

    &__addresses {
        max-width: 500px;
        min-width: 500px;
    }

    &__addresses-not-found {
        margin-bottom: 40px;
    }
}

/* ============================================================================== */

@media (max-width: 1250px) {
    .user {
        &__content {
            gap: 20px !important;
        }

        &__settings {
            flex-direction: column;
            justify-content: center;
        }

        &__addresses {
            min-width: inherit;
        }

        &__button {
            margin-right: 15px;
        }
    }
}
